extends layout
block content
    .container.text-center
      .row
        .col-sm-3.well
          .well
            p
              h2 My Profile
              span.label.label-primary USERNAME HERE!!!
            img.img-circle(src='https://cdn5.f-cdn.com/contestentries/1733723/43055135/5e49ec7ad607a_thumb900.jpg' height='150' width='150' alt='Avatar')
          .well
            p
              a(href='#') Interests
            p
              span.label.label-default News
              span.label.label-primary W3Schools
              span.label.label-success Labels
              span.label.label-info Football
              span.label.label-warning Gaming
              span.label.label-danger Friends
          p
            a(href='#') Link
          p
            a(href='#') Link
          p
            a(href='#') Link
        .col-sm-7
          .row
            .col-sm-12
              .panel.panel-default.text-left
                .panel-body
                  h2 Games Database
          .row
            .col-sm-3
              .well
                p John
                img.img-circle(src='https://www.pngall.com/wp-content/uploads/5/User-Profile-PNG-High-Quality-Image.png' height='55' width='55' alt='Avatar')
            .col-sm-9
              .well
                p
                  | Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.
          
        .col-sm-2.well
          .thumbnail
            p
              strong Current Time
            p(id='clock') time
            button.btn.btn-primary(id='clock') Info
          .well
            p ADS
          .well
            p ADS
