doctype html
html(lang='en')
    head
        title #{title}
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')
        style.
         /* Set black background color, white text and some padding */
            footer {
            background-color: #555;
            color: white;
            padding: 15px;
            }
    
    body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button' data-toggle='collapse' data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Server
        #myNavbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/') Home
            li
              a(href='/users') Users Database
            li
              a(href='/games') Games Database
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/login')
                span.glyphicon.glyphicon-user
                |    Login
            li 
              a(href='/register')
                span.glyphicon.glyphicon-user 
                |    Register
    
block content